@import "./style/Variables.scss";

body {
  margin: auto;
  height: 100vh;
  background-color: #242424;
}

:root {
  margin: auto;
  max-width: 1200px;
  height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*  ###############################*/
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}


tr:hover {background-color: rgba(238, 238, 238, 0.24);}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
  
/*  #####################*/
