$color-1: rgb(103, 129, 149);
$color-2: rgb(198, 159, 77);
$color-3: rgb(138, 93, 93);
$color-4: rgb(56, 71, 58);


$button-background-color: #444;
$hover-button-background-color: #555;
$active-button-background-color: #666;

$background-color: rgb(178, 189, 128)