.solar-watch-request-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

input, select {
  display: inline-block;
  margin: 0.25rem;
  border: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}