@import "../../style/Variables.scss";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.33rem solid;
  border-radius: 1rem;
  padding: 10px;
  background-color: #333;
  position: sticky;
  z-index: 1000;
  transition: top 0.3s;
}

button {
  background-color: $button-background-color;
  color: $background-color;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-button-background-color;
  }

  &:active {
    background-color: $active-button-background-color;
  }
}
